body {
    font-family: Arial;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

form {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 8px;
}